# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment files
.env

# Ignore virtual environments
venv/

# Ignore IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs
*.log
*.txt

# Ignore test results
*.xml
*.out

# Ignore data files
sample_data/*.csv